$grey-color: #393e46;
$blue-color: #1687a7;
$text-color: #eaeaeb;
$border-color: #495464;
$light-grey: #a2a8b1;
$green-color: #00b8a9;
$red-color: #f85f73;
$back-color: #303844;
$site-color: #222831;

$light-back-color: #f1f5f9;
$light-grey-color: #e2e8f0;
$light-border-color: #cbd5e1;
$light-text-color: #475569;
$light-main-color: #7c3aed;
$light-btn-color: #ede9fe;
$light-icon-color: #f85f73;
