@import "../../sass/variables.scss";

.header {
  padding: 10px 0;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-inner__title {
  font-family: "Anonymous Pro", monospace;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  margin-right: 20px;
  color: $text-color;
}

.header-enter {
  margin-right: 20px;
}

.username {
  color: $blue-color;
}

.header-inp {
  width: 50%;
  // padding: 10px 5px 0 0;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.header-input {
  border: none;
  background-color: transparent;
  outline: none;
  color: $text-color;
  font-size: 13px;

  &::placeholder {
    color: $text-color;
  }
}

.header-inp__icon {
  font-size: 18px;
  margin-right: 5px;
}

.header-not {
  display: flex;
  align-items: center;
}

.header-not__btn {
  position: relative;
  padding: 10px;
  border-radius: 50%;
  border: none;
  background-color: $grey-color;
  cursor: pointer;
}

.header-wrapper {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}

.header-not__icon {
  font-size: 20px;
  color: $text-color;
}

.header-inp__icon {
  color: $text-color;
}

.header-not__count {
  width: 8px;
  height: 8px;
  position: absolute;
  top: 5px;
  right: 8px;
  background-color: $red-color;
  border-radius: 50%;
}

.site-content.light-mode {
  .username {
    color: $blue-color;
  }

  .header-inp__icon {
    color: $light-text-color;
  }

  .header-inner__title {
    color: $light-text-color;
  }

  .header-input {
    border: none;
    background-color: transparent;
    outline: none;
    color: $light-text-color;
    font-size: 13px;

    &::placeholder {
      color: $light-text-color;
    }
  }

  .header-not__btn {
    background-color: $light-border-color;
  }

  .header-not__icon {
    color: $light-text-color;
  }
}

.site-content.light-mode {
  .username {
    color: $light-main-color;
  }

  .header-inp__icon {
    color: $light-main-color;
  }

  .header-not__btn {
    background-color: $light-border-color;
  }
}
