@import "../../sass/variables.scss";

.custom-table {
  .ant-table-wrapper table {
    border-radius: 20px !important;
  }

  .ant-table {
    background-color: $grey-color;
  }

  .ant-table-tbody > tr > td {
    border: none;
  }

  .ant-table-row {
    background-color: $back-color;

    &:hover > td {
      background-color: $back-color;
    }
  }

  .ant-table-row:hover > td {
    background-color: $blue-color !important;
    color: $text-color !important;
  }

  .ant-table-thead > tr > th {
    background-color: $grey-color;
    border: none;
  }

  .table-link {
    color: $text-color;

    &:hover {
      text-decoration: underline;
    }
  }
}

.table-holder {
  border-radius: 20px !important;
}

.site-content.light-mode {
  .custom-table {
    .ant-table {
      background-color: $light-grey-color;
      color: $light-text-color;
      border: 2px solid $light-border-color;
    }

    .ant-table-row {
      background-color: $light-back-color;

      &:hover > td {
        background-color: $light-back-color;
      }
    }

    .ant-table-row:hover > td {
      background-color: $light-grey-color !important;
      color: $light-text-color !important;
    }

    .ant-table-thead > tr > th {
      background-color: $light-border-color;
      color: $light-text-color;
    }

    .table-link {
      color: $light-text-color;
    }
  }
}
