@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";

.sidebar {
  padding: 20px 10px;
  background-color: $grey-color;
  height: 100%;
  border-right: 2px solid $border-color;
}

.sidebar-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sidebar-footer__btn {
  margin-top: auto;
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.sidebar-list {
  @include list-unstyled;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar-list__link {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 0.4s;
  border-radius: 10px;
  text-decoration: none;

  &:hover {
    background-color: $back-color;
    border-radius: 10px;
  }
}

.sidebar-list__link.active {
  background-color: $back-color;
  border-radius: 10px;
}

.sidebar-list__link:hover .sidebar-list__icon {
  color: $blue-color;
}

.sidebar-list__link.active .sidebar-list__icon {
  color: $blue-color;
}

.sidebar-list__item:not(:last-child) {
  margin-bottom: 25px;
}

.sidebar-icon {
  font-size: 25px;
  color: $text-color;
}

.sidebar-footer {
  display: flex;
}

.site-content.light-mode {
  .sidebar {
    padding: 20px 10px;
    background-color: $light-back-color;
    height: 100%;
    border-right: 2px solid $light-border-color;
  }

  .sidebar-list__link:hover {
    background-color: $light-btn-color;
  }

  .sidebar-list__link.active {
    background-color: $light-btn-color;
    border-radius: 10px;
  }

  .sidebar-logo {
    filter: brightness(1) invert(1);
  }

  .sidebar-list__link:hover .sidebar-list__icon {
    color: $light-main-color;
  }

  .sidebar-list__link.active .sidebar-list__icon {
    color: $light-main-color;
  }

  .sidebar-icon {
    font-size: 25px;
    color: $light-text-color;
  }
}
